certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
gevent==21.1.2
greenlet==1.0.0
idna==2.10
pycparser==2.20
requests==2.25.1
six==1.15.0
urllib3==1.26.3
websocket==0.2.1
websocket-client==0.57.0
websockets==8.1
zope.event==4.5.0
zope.interface==5.2.0
